* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_card {
    border-radius: 8px;
    padding: 20px;
    width: 50%;
}

h2 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: gray;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #0980ff;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #0074f0;
    color: white;
    border: none;
    border-radius: 3px;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    margin-top: 10px;
}